<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

<Directory />
    Options Indexes FollowSymLinks
    AllowOverride All
    Header set Access-Control-Allow-Origin "*"
</Directory>